# Series in Pandas
## Serien sind wie Spalten einer Tabelle
Mit starke Zuordnungsmöglichkeiten über Index: Die Daten werden damit eindeutig zugeordnet, auch wenn man zwei Series addiert!

In [3]:
a1 = [4, 7, -5, 3]
a1

[4, 7, -5, 3]

In [1]:
import pandas as pd
from pandas import Series

In [4]:
s1 = Series(a1, name="Test")
s1

0    4
1    7
2   -5
3    3
Name: Test, dtype: int64

In [4]:
s1.values

array([ 4,  7, -5,  3], dtype=int64)

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

## ...aber mit zusätzlichen Fähigkeiten 
... z.B. bei der Benennung

In [6]:
s1.name = "Temperatur"

In [7]:
s1.index = ['Nürnberg', 'Fürth', 'Erlangen', 'Schwabach']
s1

Nürnberg     4
Fürth        7
Erlangen    -5
Schwabach    3
Name: Temperatur, dtype: int64

In [8]:
s1.index.name = 'Stadt'

In [9]:
s1.index

Index(['Nürnberg', 'Fürth', 'Erlangen', 'Schwabach'], dtype='object', name='Stadt')

## So geht es auch

In [10]:
index = ['so', 'geht', 'es', 'auch']
s2 = Series( a1, index=index, name='Temperaturtabelle')
s2

so      4
geht    7
es     -5
auch    3
Name: Temperaturtabelle, dtype: int64

Index und Values müssen dabei von der Anzahl her zusammenpassen

In [11]:
list(s2.values)

[4, 7, -5, 3]

In [12]:
list(s2.index)

['so', 'geht', 'es', 'auch']

In [13]:
s2.name

'Temperaturtabelle'

## Lesen, Überschreiben und Anfügen von Objekten

In [14]:
print(s2[0], s2['es'])

4 -5

In [15]:
len(s2)

4

In [16]:
s2[0] = -99; s2['richtig'] = -100; s2

so         -99
geht         7
es          -5
auch         3
richtig   -100
Name: Temperaturtabelle, dtype: int64

In [17]:
len(s2)

5

## auf bestimmte Labels zugreifen

In [18]:
s3 = s2[['so','auch']]; print(s3)

so     -99
auch     3
Name: Temperaturtabelle, dtype: int64

In [19]:
s2>0

so         False
geht        True
es         False
auch        True
richtig    False
Name: Temperaturtabelle, dtype: bool

In [20]:
s2[ s2>0 ]

geht    7
auch    3
Name: Temperaturtabelle, dtype: int64

In [21]:
s2[ s2>0 ] - 3

geht    4
auch    0
Name: Temperaturtabelle, dtype: int64

z.B. prüfen, ob ein bestimmter Index enthalten ist

In [22]:
'geht' in s2

True

In [23]:
'Geht' in s2

False

## Dictionaries und Series hin und zurück

In [24]:
d1 = { 'Hans': 32, 'Anna': 15, 'Sepp': 88 }; d1

{'Hans': 32, 'Anna': 15, 'Sepp': 88}

In [25]:
s3 = Series(d1); s3

Hans    32
Anna    15
Sepp    88
dtype: int64

In [26]:
d2 = dict(s3); d2

{'Hans': 32, 'Anna': 15, 'Sepp': 88}

## Datentypwechsel

In [27]:
s3 = Series(s3, dtype='float64'); s3

Hans    32.0
Anna    15.0
Sepp    88.0
dtype: float64

In [28]:
s3 = Series(s3, dtype='int64'); s3

Hans    32
Anna    15
Sepp    88
dtype: int64

## Neue Serien zusammenstellen

In [29]:
auswahl = [ 'Hans', 'Sepp', "Willy"]
s4 = Series(s3, index=auswahl); s4

Hans     32.0
Sepp     88.0
Willy     NaN
dtype: float64

Anmerkung: NaN = Not a Number (sowas gibts leider nicht beim Datentyp Integer)

In [30]:
s4.notnull()

Hans      True
Sepp      True
Willy    False
dtype: bool

In [31]:
s4.isnull()

Hans     False
Sepp     False
Willy     True
dtype: bool

## Rechnen mit Serien ... bringt immer Ergebnisse vom Typ float
z.B. + - * / oder add(), sub(), mul(), div() ... das können Python-Dictionarys nicht ;)

In [32]:
s4 - 30

Hans      2.0
Sepp     58.0
Willy     NaN
dtype: float64

In [33]:
s4 + s3

Anna       NaN
Hans      64.0
Sepp     176.0
Willy      NaN
dtype: float64

Grenze der Berechenbarkeit: Rechnen mit NaN gibt NaN (= Not a Number)

In [34]:
s5 = s4 + s1; s5

Erlangen    NaN
Fürth       NaN
Hans        NaN
Nürnberg    NaN
Schwabach   NaN
Sepp        NaN
Willy       NaN
dtype: float64

Das bewirkt einen Join (bei dem keiner der Werte berechenbar war)

In [35]:
list(s5.index)

['Erlangen', 'Fürth', 'Hans', 'Nürnberg', 'Schwabach', 'Sepp', 'Willy']