# Series to Frame - Aufgabe
## LÃ¶sungsvorschlag

# 1. Schreibe Python-Code, der diese beiden Series erzeugt

In [ ]:
import pandas as pd

In [ ]:
ser_freunde = pd.Series({"A":"Anna", "B":"Hans","C":"Susi", "D":"Willy", "E":"Sepp"}, name="Freunde");
print(ser_freunde)
type(ser_freunde)

In [ ]:
d_schulden = {"A":10, "C":200, "E":3000}
d_schulden

In [ ]:
ser_schulden = pd.Series(d_schulden);
print(ser_schulden)
type(ser_schulden)

# 2. Schreibe Python-Code, der beide Series in einem DataFrame vereinigt

In [ ]:
df_freunde = ser_freunde.to_frame()
# df_freunde = df_freunde.rename(columns = {0:"Freunde"})
print(df_freunde)
type(df_freunde)

In [ ]:
df_schulden = ser_schulden.to_frame()
df_schulden.rename(columns = {0:"Betrag"}, inplace=True)
print(df_schulden)
type(df_schulden)

In [ ]:
df = pd.concat([ser_freunde, ser_schulden], axis=1)

# 3. Wie sieht der DataFrame jetzt aus?

In [ ]:
df

In [ ]:
df[df["Betrag"]>0]

# 4. Schreibe Python-Code, der nur die Zeilen B,C,D ausgibt

In [ ]:
df.loc[['B','C','D']]

In [ ]:
df.loc['B':'D']

In [ ]:
df.iloc[[1,2,3]]

In [ ]:
df.iloc[1:4]

In [ ]:
df.iloc[range(1,4)]

# 5.  Schreibe Python-Code, der nur die Vornamen der Personen ausgibt, die Schulden haben

In [ ]:
df[df["Betrag"].notnull()]

In [ ]:
df[df["Betrag"].notnull()]["Freunde"]

# Man kann die Schritte einzeln gehen oder in einer Zeile zusammenfassen

In [ ]:
# Bedingung
df1 = df[df["Betrag"].notnull()]
df1

In [ ]:
# Spaltenauwwahl
df2 = df1["Freunde"]
df2

In [ ]:
# Zeilenauswahl
df3 = df2.loc["A"]
df3

In [ ]:
# Das Gleiche in einer Zeile Code
df[df["Betrag"].notnull()]["Freunde"].loc["A"]

# Viel Erfolg