# Löse die Pandas-Aufgabe in Jupyter Notebook

In [3]:
import pandas as pd
import numpy as np

Ein Dataframe ist wie eine Tabelle und besteht aus Dateninhalt **data**, Primary-Key **index** und Spaltenattribute **columns**

# "CREATE DataFrame": Erst Zeilen (= Datensätze), dann Spalten (= Werte)

In [9]:
df = pd.DataFrame(
    data = [
                ("Erlangen", "Mittelfranken","Regnitz",0.5),
                ("Fürth","Mittelfranken","Regnitz", 0.6),
                ("Nürnberg", "Mittelfranken","Pegnitz",0.5),
                ("Forchheim","Oberfranken","Regnitz", 0.1),
                ("Bamberg", "Oberfranken","Regnitz",0.5)
    ]
#   , index=["A","B","C","D","E"]
#   , columns=['Stadt','Land','Fluss', 'Temperatur']
)
df

           0              1        2    3
0   Erlangen  Mittelfranken  Regnitz  0.5
1      Fürth  Mittelfranken  Regnitz  0.6
2   Nürnberg  Mittelfranken  Pegnitz  0.5
3  Forchheim    Oberfranken  Regnitz  0.1
4    Bamberg    Oberfranken  Regnitz  0.5

In [10]:
df.columns = ['Stadt','Land','Fluss', 'Temperatur'];
df.index = ["A","B","C","D","E"]
df

       Stadt           Land    Fluss  Temperatur
A   Erlangen  Mittelfranken  Regnitz         0.5
B      Fürth  Mittelfranken  Regnitz         0.6
C   Nürnberg  Mittelfranken  Pegnitz         0.5
D  Forchheim    Oberfranken  Regnitz         0.1
E    Bamberg    Oberfranken  Regnitz         0.5

## SELECT Stadt 
## FROM DataFrame"

In [12]:
print(df[["Stadt","Land"]])
type(df[["Stadt"]])

       Stadt           Land
A   Erlangen  Mittelfranken
B      Fürth  Mittelfranken
C   Nürnberg  Mittelfranken
D  Forchheim    Oberfranken
E    Bamberg    Oberfranken

pandas.core.frame.DataFrame

In [ ]:
print(df.Stadt)
type(df.Stadt)

#  loc[Erst Zeilenwhere, dann Spaltenselect]

In [13]:
df.loc[["A","B"]]

      Stadt           Land    Fluss  Temperatur
A  Erlangen  Mittelfranken  Regnitz         0.5
B     Fürth  Mittelfranken  Regnitz         0.6

In [14]:
np.arange(0,4)

array([0, 1, 2, 3])

In [6]:
df.iloc[range(0,3),range(0,4)]

      Stadt           Land    Fluss  Temperatur
A  Erlangen  Mittelfranken  Regnitz         0.5
B     Fürth  Mittelfranken  Regnitz         0.6
C  Nürnberg  Mittelfranken  Pegnitz         0.5

# Löse die Aufgaben der Schulaufgabe jetzt 
hier unten in diesem Jupyter Notebook ;)