## Statistik - Grundlagen
Proof of Concept

In [23]:
import statistics as s
import pandas as pd
s.median ([1,2,3,4])

2.5

Jetzt kommen die Daten, Achtet auf den Ausrei√üer

In [3]:
df = pd.DataFrame(data)
len(df)

21

In [2]:
data = [-1000,50,50,50,50,40,40,40,40,40,40,40,40,40,40,40,15,15,15,15,15]
len(data)

21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       21 non-null     int64
dtypes: int64(1)
memory usage: 296.0 bytes

In [5]:
df.describe()

                 0
count    21.000000
mean    -13.571429
std     226.368852
min   -1000.000000
25%      15.000000
50%      40.000000
75%      40.000000
max      50.000000

In [6]:
print( s.median(data), df.median())

40 0    40.0
dtype: float64

In [7]:
s.mode(data)

40

In [8]:
df.mean()

0   -13.571429
dtype: float64

In [10]:
s.harmonic_mean(data)

StatisticsError: harmonic mean does not support negative values

In [11]:
print( s.stdev(data), df.std())

226.36885197141666 0    226.368852
dtype: float64

In [12]:
df.mode()

    0
0  40